$backgroundColor: #5e4206;
$altBackgroundColor: #60813f;
$textColor: #130c05;
$textColorLight: white;
$linkColor: navy;
$errorColor: #ffb204;

@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

body{
    background-color: $backgroundColor;
    color: $textColor;
    font-family: 'Roboto Mono';
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    color: $textColorLight;
}

h4{
    font-weight: bolder;
}

a{
    color: $linkColor;
}

.message{
    color: $errorColor;
}

.nav-item:hover, .nav-link:hover{
    background-color: $altBackgroundColor;
}

#menu_container{
    margin-top: 10px;
    background-color: $altBackgroundColor;
    color: $errorColor;
}
